node_modules
**/node_modules
dist
**/dist
.next
**/.next
.env
.env.local
**/.env
**/.env.local
*.log
.git
.github
.vscode
.idea
coverage
*.tsbuildinfo
apps/api/prisma/*.db
apps/api/prisma/*.db-journal
